# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# dbt
dbt/target/
dbt/dbt_packages/
logs/

# Variables d'environnement
.env
*.env
dbt/profiles.yml

# Données
data/raw/*.csv

# OS / éditeurs
.DS_Store
.vscode/
*.swp
dbt/.user.yml
